@charset "UTF-8";

    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
	 
    #myScrollspy{
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 1000px;
    }
    #RightScrollspy{
  	  padding-top: 20px;
    }
    .header{
    	padding: 20px;
    }
    .main{
    	padding: 40px;
		height: auto;
	}
	
	.left{
		
		text-align: center;
	}

    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* 스크롤 고정하기위해 꼭 필요함 */
     .affix {
     
      top: 0px;
 	 }
 	#RightScrollspy{
 
 	}
 	#myScrollspy{
 		width: inherit;
 		 background-color:#0059b3;
 		text-align: center;
 	}
 	#myScrollspy a{
 	 color: white;
 	 	
 	}
	#myScrollspy a:hover{
		background-color: #0059b3; 
	}
	
	.dropdown-menu{
		 background-color: #0059b3;
	}
	.dropdown-menu a:hover{
			background-color: #0059b3; 
	}
	#gerneA{
		background-color: #0059b3; 
	}
 