@charset "UTF-8";


	.mainImg{
		width: 161px;
		height: 184px;
	}
	#mainTable{
	 	margin: auto; 
		/* align-content: center; */
		
	}
	#mainTable td{
		padding: 5px;
	}
	#listBtn{
		float: right;
	}
	#mainScore-table1{
		color: #0066ff;
		font-weight: bold;
		text-align: center;
		width: 161px;
	}
	#mainScore-table2{
		color: #0066ff;
		font-weight: bold;
		text-align: center;
		width: 161px;
	}
